In [2]:
import pandas as pd
boston_data=pd.read_csv('boston2.csv',usecols=['CRIM','ZN','key','INDUS'])
#首先要建立索引(index)可以使用 .set_index 指定欄位名稱當做索引，
#建立了特定資料的最佳路徑。可以用 .index 查看索引的資訊。
boston_data_index=boston_data.set_index('key')
boston_data_index

         CRIM    ZN  INDUS
key
1     0.02731   0.0   7.07
2     0.02729   0.0   7.07
3     0.03237   0.0   2.18
4     0.06905   0.0   2.18
5     0.02985   0.0   2.18
6     0.08829  12.5   7.87
7     0.14455  12.5   7.87
8     0.21124  12.5   7.87
9     0.17004  12.5   7.87
10    0.22489  12.5   7.87
11    0.11747  12.5   7.87
12    0.09378  12.5   7.87
13    0.62976   0.0   8.14
14    0.63796   0.0   8.14
15    0.62739   0.0   8.14
16    1.05393   0.0   8.14
17    0.78420   0.0   8.14
18    0.80271   0.0   8.14
19    0.72580   0.0   8.14
20    1.25179   0.0   8.14
21    0.85204   0.0   8.14
22    1.23247   0.0   8.14
23    0.98843   0.0   8.14
24    0.75026   0.0   8.14
25    0.84054   0.0   8.14
26    0.67191   0.0   8.14
27    0.95577   0.0   8.14
28    0.77299   0.0   8.14
29    1.00245   0.0   8.14
30    1.13081   0.0   8.14
..        ...   ...    ...
476   4.87141   0.0  18.10
477  15.02340   0.0  18.10
478  10.23300   0.0  18.10
479  14.33370   0.0  18.10
480   5.82401   0.0  18.10
481   5.70818   0.0  18.10
482   5.73116   0.0  18.10
483   2.81838   0.0  18.10
484   2.37857   0.0  18.10
485   3.67367   0.0  18.10
486   5.69175   0.0  18.10
487   4.83567   0.0  18.10
488   0.15086   0.0  27.74
489   0.18337   0.0  27.74
490   0.20746   0.0  27.74
491   0.10574   0.0  27.74
492   0.11132   0.0  27.74
493   0.17331   0.0   9.69
494   0.27957   0.0   9.69
495   0.17899   0.0   9.69
496   0.28960   0.0   9.69
497   0.26838   0.0   9.69
498   0.23912   0.0   9.69
499   0.17783   0.0   9.69
500   0.22438   0.0   9.69
501   0.06263   0.0  11.93
502   0.04527   0.0  11.93
503   0.06076   0.0  11.93
504   0.10959   0.0  11.93
505   0.04741   0.0  11.93

[505 rows x 3 columns]

In [3]:
boston_data_index.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            496, 497, 498, 499, 500, 501, 502, 503, 504, 505],
           dtype='int64', name='key', length=505)

In [4]:
boston_data_index2=boston_data.set_index(['key','INDUS'])
boston_data_index2

               CRIM    ZN
key INDUS
1   7.07    0.02731   0.0
2   7.07    0.02729   0.0
3   2.18    0.03237   0.0
4   2.18    0.06905   0.0
5   2.18    0.02985   0.0
6   7.87    0.08829  12.5
7   7.87    0.14455  12.5
8   7.87    0.21124  12.5
9   7.87    0.17004  12.5
10  7.87    0.22489  12.5
11  7.87    0.11747  12.5
12  7.87    0.09378  12.5
13  8.14    0.62976   0.0
14  8.14    0.63796   0.0
15  8.14    0.62739   0.0
16  8.14    1.05393   0.0
17  8.14    0.78420   0.0
18  8.14    0.80271   0.0
19  8.14    0.72580   0.0
20  8.14    1.25179   0.0
21  8.14    0.85204   0.0
22  8.14    1.23247   0.0
23  8.14    0.98843   0.0
24  8.14    0.75026   0.0
25  8.14    0.84054   0.0
26  8.14    0.67191   0.0
27  8.14    0.95577   0.0
28  8.14    0.77299   0.0
29  8.14    1.00245   0.0
30  8.14    1.13081   0.0
...             ...   ...
476 18.10   4.87141   0.0
477 18.10  15.02340   0.0
478 18.10  10.23300   0.0
479 18.10  14.33370   0.0
480 18.10   5.82401   0.0
481 18.10   5.70818   0.0
482 18.10   5.73116   0.0
483 18.10   2.81838   0.0
484 18.10   2.37857   0.0
485 18.10   3.67367   0.0
486 18.10   5.69175   0.0
487 18.10   4.83567   0.0
488 27.74   0.15086   0.0
489 27.74   0.18337   0.0
490 27.74   0.20746   0.0
491 27.74   0.10574   0.0
492 27.74   0.11132   0.0
493 9.69    0.17331   0.0
494 9.69    0.27957   0.0
495 9.69    0.17899   0.0
496 9.69    0.28960   0.0
497 9.69    0.26838   0.0
498 9.69    0.23912   0.0
499 9.69    0.17783   0.0
500 9.69    0.22438   0.0
501 11.93   0.06263   0.0
502 11.93   0.04527   0.0
503 11.93   0.06076   0.0
504 11.93   0.10959   0.0
505 11.93   0.04741   0.0

[505 rows x 2 columns]

In [5]:
boston_data_index2.index

MultiIndex(levels=[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505], [0.46, 0.74, 1.21, 1.22, 1.25, 1.32, 1.38, 1.47, 1.52, 1.69, 1.76, 1.89, 1.91, 2.01, 2.02, 2.03, 2.18, 2.24, 2.25, 2.46, 2.68, 2.89, 2.93, 2.95, 2.97, 3.24, 3.33, 3.37, 3.41, 3.44, 3.64, 3.75, 3.78, 3.97, 4.0, 4.05, 4.15, 4.39, 4.49, 4.86, 4.93, 4.95, 5.13, 5.19, 5.32, 5.64, 5.86, 5.96, 6.06, 6.07, 6.09, 6.2, 6.41, 6.91, 6.96, 7.07, 7.38, 7.87, 8.14, 8.56, 9.69, 9.9, 10.01, 10.59, 10.81, 11.93, 12.83, 13.89, 13.92, 15.04, 18.1, 19.58, 21.89, 25.65, 27.74]],
           labels=[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504], [55, 55, 16, 16, 16, 57, 57, 57, 57, 57, 57, 57, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 47, 47, 47, 47, 23, 23, 53, 53, 53, 53, 53, 53, 53, 53, 53, 45, 45, 45, 45, 34, 3, 1, 5, 42, 42, 42, 42, 42, 42, 6, 27, 27, 49, 49, 49, 64, 64, 64, 64, 66, 66, 66, 66, 66, 66, 39, 39, 39, 39, 38, 38, 38, 38, 28, 28, 28, 28, 69, 69, 69, 21, 21, 21, 21, 21, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 62, 62, 62, 62, 62, 62, 62, 62, 62, 73, 73, 73, 73, 73, 73, 73, 72, 72, 72, 72, 72, 72, 72, 72, 72, 72, 72, 72, 72, 72, 72, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 35, 35, 35, 35, 35, 35, 35, 19, 19, 19, 19, 19, 19, 19, 19, 29, 29, 29, 29, 29, 29, 22, 22, 0, 8, 8, 8, 7, 7, 15, 15, 20, 20, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 67, 67, 67, 67, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 40, 40, 40, 40, 40, 40, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 30, 30, 31, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 54, 54, 54, 54, 54, 52, 52, 52, 52, 52, 26, 26, 26, 26, 2, 24, 18, 10, 44, 44, 44, 41, 41, 41, 68, 68, 68, 68, 68, 17, 17, 17, 50, 50, 50, 16, 16, 16, 16, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 56, 56, 56, 56, 56, 56, 56, 56, 25, 25, 25, 48, 48, 43, 43, 43, 43, 43, 43, 43, 43, 8, 11, 32, 32, 37, 37, 36, 13, 4, 4, 9, 9, 14, 12, 12, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 74, 74, 74, 74, 74, 60, 60, 60, 60, 60, 60, 60, 60, 65, 65, 65, 65, 65]],
           names=['key', 'INDUS'])

In [6]:
new_boston_data=boston_data.rename(columns={'CRIM':'featues'})
new_boston_data

     key   featues    ZN  INDUS
0      1   0.02731   0.0   7.07
1      2   0.02729   0.0   7.07
2      3   0.03237   0.0   2.18
3      4   0.06905   0.0   2.18
4      5   0.02985   0.0   2.18
5      6   0.08829  12.5   7.87
6      7   0.14455  12.5   7.87
7      8   0.21124  12.5   7.87
8      9   0.17004  12.5   7.87
9     10   0.22489  12.5   7.87
10    11   0.11747  12.5   7.87
11    12   0.09378  12.5   7.87
12    13   0.62976   0.0   8.14
13    14   0.63796   0.0   8.14
14    15   0.62739   0.0   8.14
15    16   1.05393   0.0   8.14
16    17   0.78420   0.0   8.14
17    18   0.80271   0.0   8.14
18    19   0.72580   0.0   8.14
19    20   1.25179   0.0   8.14
20    21   0.85204   0.0   8.14
21    22   1.23247   0.0   8.14
22    23   0.98843   0.0   8.14
23    24   0.75026   0.0   8.14
24    25   0.84054   0.0   8.14
25    26   0.67191   0.0   8.14
26    27   0.95577   0.0   8.14
27    28   0.77299   0.0   8.14
28    29   1.00245   0.0   8.14
29    30   1.13081   0.0   8.14
..   ...       ...   ...    ...
475  476   4.87141   0.0  18.10
476  477  15.02340   0.0  18.10
477  478  10.23300   0.0  18.10
478  479  14.33370   0.0  18.10
479  480   5.82401   0.0  18.10
480  481   5.70818   0.0  18.10
481  482   5.73116   0.0  18.10
482  483   2.81838   0.0  18.10
483  484   2.37857   0.0  18.10
484  485   3.67367   0.0  18.10
485  486   5.69175   0.0  18.10
486  487   4.83567   0.0  18.10
487  488   0.15086   0.0  27.74
488  489   0.18337   0.0  27.74
489  490   0.20746   0.0  27.74
490  491   0.10574   0.0  27.74
491  492   0.11132   0.0  27.74
492  493   0.17331   0.0   9.69
493  494   0.27957   0.0   9.69
494  495   0.17899   0.0   9.69
495  496   0.28960   0.0   9.69
496  497   0.26838   0.0   9.69
497  498   0.23912   0.0   9.69
498  499   0.17783   0.0   9.69
499  500   0.22438   0.0   9.69
500  501   0.06263   0.0  11.93
501  502   0.04527   0.0  11.93
502  503   0.06076   0.0  11.93
503  504   0.10959   0.0  11.93
504  505   0.04741   0.0  11.93

[505 rows x 4 columns]

In [7]:
data_copy=boston_data.copy()

In [8]:
data_copy['round_INDUS']=round(data_copy['INDUS'])

In [9]:
data_copy

     key      CRIM    ZN  INDUS  round_INDUS
0      1   0.02731   0.0   7.07          7.0
1      2   0.02729   0.0   7.07          7.0
2      3   0.03237   0.0   2.18          2.0
3      4   0.06905   0.0   2.18          2.0
4      5   0.02985   0.0   2.18          2.0
5      6   0.08829  12.5   7.87          8.0
6      7   0.14455  12.5   7.87          8.0
7      8   0.21124  12.5   7.87          8.0
8      9   0.17004  12.5   7.87          8.0
9     10   0.22489  12.5   7.87          8.0
10    11   0.11747  12.5   7.87          8.0
11    12   0.09378  12.5   7.87          8.0
12    13   0.62976   0.0   8.14          8.0
13    14   0.63796   0.0   8.14          8.0
14    15   0.62739   0.0   8.14          8.0
15    16   1.05393   0.0   8.14          8.0
16    17   0.78420   0.0   8.14          8.0
17    18   0.80271   0.0   8.14          8.0
18    19   0.72580   0.0   8.14          8.0
19    20   1.25179   0.0   8.14          8.0
20    21   0.85204   0.0   8.14          8.0
21    22   1.23247   0.0   8.14          8.0
22    23   0.98843   0.0   8.14          8.0
23    24   0.75026   0.0   8.14          8.0
24    25   0.84054   0.0   8.14          8.0
25    26   0.67191   0.0   8.14          8.0
26    27   0.95577   0.0   8.14          8.0
27    28   0.77299   0.0   8.14          8.0
28    29   1.00245   0.0   8.14          8.0
29    30   1.13081   0.0   8.14          8.0
..   ...       ...   ...    ...          ...
475  476   4.87141   0.0  18.10         18.0
476  477  15.02340   0.0  18.10         18.0
477  478  10.23300   0.0  18.10         18.0
478  479  14.33370   0.0  18.10         18.0
479  480   5.82401   0.0  18.10         18.0
480  481   5.70818   0.0  18.10         18.0
481  482   5.73116   0.0  18.10         18.0
482  483   2.81838   0.0  18.10         18.0
483  484   2.37857   0.0  18.10         18.0
484  485   3.67367   0.0  18.10         18.0
485  486   5.69175   0.0  18.10         18.0
486  487   4.83567   0.0  18.10         18.0
487  488   0.15086   0.0  27.74         28.0
488  489   0.18337   0.0  27.74         28.0
489  490   0.20746   0.0  27.74         28.0
490  491   0.10574   0.0  27.74         28.0
491  492   0.11132   0.0  27.74         28.0
492  493   0.17331   0.0   9.69         10.0
493  494   0.27957   0.0   9.69         10.0
494  495   0.17899   0.0   9.69         10.0
495  496   0.28960   0.0   9.69         10.0
496  497   0.26838   0.0   9.69         10.0
497  498   0.23912   0.0   9.69         10.0
498  499   0.17783   0.0   9.69         10.0
499  500   0.22438   0.0   9.69         10.0
500  501   0.06263   0.0  11.93         12.0
501  502   0.04527   0.0  11.93         12.0
502  503   0.06076   0.0  11.93         12.0
503  504   0.10959   0.0  11.93         12.0
504  505   0.04741   0.0  11.93         12.0

[505 rows x 5 columns]

In [11]:
data_copy_2=boston_data.copy()

In [17]:
data_copy_2.insert(1,'round2_INDUS',data_copy_2['INDUS'])

In [18]:
data_copy_2

     key  round2_INDUS  round_INDUS      CRIM    ZN  INDUS
0      1          7.07            1   0.02731   0.0   7.07
1      2          7.07            2   0.02729   0.0   7.07
2      3          2.18            3   0.03237   0.0   2.18
3      4          2.18            4   0.06905   0.0   2.18
4      5          2.18            5   0.02985   0.0   2.18
5      6          7.87            6   0.08829  12.5   7.87
6      7          7.87            7   0.14455  12.5   7.87
7      8          7.87            8   0.21124  12.5   7.87
8      9          7.87            9   0.17004  12.5   7.87
9     10          7.87           10   0.22489  12.5   7.87
10    11          7.87           11   0.11747  12.5   7.87
11    12          7.87           12   0.09378  12.5   7.87
12    13          8.14           13   0.62976   0.0   8.14
13    14          8.14           14   0.63796   0.0   8.14
14    15          8.14           15   0.62739   0.0   8.14
15    16          8.14           16   1.05393   0.0   8.14
16    17          8.14           17   0.78420   0.0   8.14
17    18          8.14           18   0.80271   0.0   8.14
18    19          8.14           19   0.72580   0.0   8.14
19    20          8.14           20   1.25179   0.0   8.14
20    21          8.14           21   0.85204   0.0   8.14
21    22          8.14           22   1.23247   0.0   8.14
22    23          8.14           23   0.98843   0.0   8.14
23    24          8.14           24   0.75026   0.0   8.14
24    25          8.14           25   0.84054   0.0   8.14
25    26          8.14           26   0.67191   0.0   8.14
26    27          8.14           27   0.95577   0.0   8.14
27    28          8.14           28   0.77299   0.0   8.14
28    29          8.14           29   1.00245   0.0   8.14
29    30          8.14           30   1.13081   0.0   8.14
..   ...           ...          ...       ...   ...    ...
475  476         18.10          476   4.87141   0.0  18.10
476  477         18.10          477  15.02340   0.0  18.10
477  478         18.10          478  10.23300   0.0  18.10
478  479         18.10          479  14.33370   0.0  18.10
479  480         18.10          480   5.82401   0.0  18.10
480  481         18.10          481   5.70818   0.0  18.10
481  482         18.10          482   5.73116   0.0  18.10
482  483         18.10          483   2.81838   0.0  18.10
483  484         18.10          484   2.37857   0.0  18.10
484  485         18.10          485   3.67367   0.0  18.10
485  486         18.10          486   5.69175   0.0  18.10
486  487         18.10          487   4.83567   0.0  18.10
487  488         27.74          488   0.15086   0.0  27.74
488  489         27.74          489   0.18337   0.0  27.74
489  490         27.74          490   0.20746   0.0  27.74
490  491         27.74          491   0.10574   0.0  27.74
491  492         27.74          492   0.11132   0.0  27.74
492  493          9.69          493   0.17331   0.0   9.69
493  494          9.69          494   0.27957   0.0   9.69
494  495          9.69          495   0.17899   0.0   9.69
495  496          9.69          496   0.28960   0.0   9.69
496  497          9.69          497   0.26838   0.0   9.69
497  498          9.69          498   0.23912   0.0   9.69
498  499          9.69          499   0.17783   0.0   9.69
499  500          9.69          500   0.22438   0.0   9.69
500  501         11.93          501   0.06263   0.0  11.93
501  502         11.93          502   0.04527   0.0  11.93
502  503         11.93          503   0.06076   0.0  11.93
503  504         11.93          504   0.10959   0.0  11.93
504  505         11.93          505   0.04741   0.0  11.93

[505 rows x 6 columns]

In [20]:
del data_copy_2['round2_INDUS'] 
#data_copy_2.insert(1,'round2_INDUS',data_copy_2['INDUS'])

In [22]:
data_copy_2
del data_copy_2['round_INDUS']

In [24]:
boston_data = boston_data.append(pd.DataFrame([[506,0,0,0]],columns=boston_data.columns))

In [26]:
boston_data=boston_data.drop(3)

In [27]:
boston_data

     key      CRIM    ZN  INDUS
0      1   0.02731   0.0   7.07
1      2   0.02729   0.0   7.07
2      3   0.03237   0.0   2.18
4      5   0.02985   0.0   2.18
5      6   0.08829  12.5   7.87
6      7   0.14455  12.5   7.87
7      8   0.21124  12.5   7.87
8      9   0.17004  12.5   7.87
9     10   0.22489  12.5   7.87
10    11   0.11747  12.5   7.87
11    12   0.09378  12.5   7.87
12    13   0.62976   0.0   8.14
13    14   0.63796   0.0   8.14
14    15   0.62739   0.0   8.14
15    16   1.05393   0.0   8.14
16    17   0.78420   0.0   8.14
17    18   0.80271   0.0   8.14
18    19   0.72580   0.0   8.14
19    20   1.25179   0.0   8.14
20    21   0.85204   0.0   8.14
21    22   1.23247   0.0   8.14
22    23   0.98843   0.0   8.14
23    24   0.75026   0.0   8.14
24    25   0.84054   0.0   8.14
25    26   0.67191   0.0   8.14
26    27   0.95577   0.0   8.14
27    28   0.77299   0.0   8.14
28    29   1.00245   0.0   8.14
29    30   1.13081   0.0   8.14
30    31   1.35472   0.0   8.14
..   ...       ...   ...    ...
476  477  15.02340   0.0  18.10
477  478  10.23300   0.0  18.10
478  479  14.33370   0.0  18.10
479  480   5.82401   0.0  18.10
480  481   5.70818   0.0  18.10
481  482   5.73116   0.0  18.10
482  483   2.81838   0.0  18.10
483  484   2.37857   0.0  18.10
484  485   3.67367   0.0  18.10
485  486   5.69175   0.0  18.10
486  487   4.83567   0.0  18.10
487  488   0.15086   0.0  27.74
488  489   0.18337   0.0  27.74
489  490   0.20746   0.0  27.74
490  491   0.10574   0.0  27.74
491  492   0.11132   0.0  27.74
492  493   0.17331   0.0   9.69
493  494   0.27957   0.0   9.69
494  495   0.17899   0.0   9.69
495  496   0.28960   0.0   9.69
496  497   0.26838   0.0   9.69
497  498   0.23912   0.0   9.69
498  499   0.17783   0.0   9.69
499  500   0.22438   0.0   9.69
500  501   0.06263   0.0  11.93
501  502   0.04527   0.0  11.93
502  503   0.06076   0.0  11.93
503  504   0.10959   0.0  11.93
504  505   0.04741   0.0  11.93
0    506   0.00000   0.0   0.00

[505 rows x 4 columns]

In [30]:
stock_data=pd.read_csv('STOCK.csv')
stock_data[stock_data.open>104]

        date    open   close
3  109/10/08  105.45  106.20
4  109/10/12  106.70  107.05
5  109/10/13  107.35  107.10

In [31]:
stock_data

        date    open   close
0  109/10/05  103.45  103.05
1  109/10/06  104.00  104.25
2  109/10/07  104.00  104.80
3  109/10/08  105.45  106.20
4  109/10/12  106.70  107.05
5  109/10/13  107.35  107.10

In [32]:
stock_data.loc[stock_data.open<104]

        date    open   close
0  109/10/05  103.45  103.05

In [33]:
stock_data.loc[(stock_data.open<104)&(stock_data.close>103),['open','close']]

     open   close
0  103.45  103.05

In [34]:
stock_data.iloc[3:6]

        date    open   close
3  109/10/08  105.45  106.20
4  109/10/12  106.70  107.05
5  109/10/13  107.35  107.10

In [10]:
stock_data1=pd.read_csv('STOCK1.csv')
stock_data2=pd.read_csv('STOCK2.csv')
print(stock_data1)
print(stock_data2)

        date    open   close
0  109/10/05  103.45  103.05
1  109/10/06  104.00  104.25
2  109/10/07  104.00  104.80
3  109/10/08  105.45  106.20
4  109/10/12  106.70  107.05
5  109/10/13  107.35  107.10
        date    open    high
0  109/10/08  105.45  106.35
1  109/10/12  106.70  107.70
2  109/10/13  107.35  107.60
3  109/10/14  107.05  107.20
4  109/10/15  106.50  106.50

In [13]:
pd.concat([stock_data1,stock_data2],axis=0)
#concat 串聯參數 axis=0 縱向結合後發現 stock_data1 不存在 high 欄位，stock_data2 不存在 close 欄位，那麼該位子會被填入 NaN。

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

    close       date    high    open
0  103.05  109/10/05     NaN  103.45
1  104.25  109/10/06     NaN  104.00
2  104.80  109/10/07     NaN  104.00
3  106.20  109/10/08     NaN  105.45
4  107.05  109/10/12     NaN  106.70
5  107.10  109/10/13     NaN  107.35
0     NaN  109/10/08  106.35  105.45
1     NaN  109/10/12  107.70  106.70
2     NaN  109/10/13  107.60  107.35
3     NaN  109/10/14  107.20  107.05
4     NaN  109/10/15  106.50  106.50

In [12]:
pd.concat([stock_data1,stock_data2],axis=1)

        date    open   close       date    open    high
0  109/10/05  103.45  103.05  109/10/08  105.45  106.35
1  109/10/06  104.00  104.25  109/10/12  106.70  107.70
2  109/10/07  104.00  104.80  109/10/13  107.35  107.60
3  109/10/08  105.45  106.20  109/10/14  107.05  107.20
4  109/10/12  106.70  107.05  109/10/15  106.50  106.50
5  109/10/13  107.35  107.10        NaN     NaN     NaN

In [16]:
pd.concat([stock_data1,stock_data2],axis=0,join='inner')

        date    open
0  109/10/05  103.45
1  109/10/06  104.00
2  109/10/07  104.00
3  109/10/08  105.45
4  109/10/12  106.70
5  109/10/13  107.35
0  109/10/08  105.45
1  109/10/12  106.70
2  109/10/13  107.35
3  109/10/14  107.05
4  109/10/15  106.50

In [17]:
pd.merge(stock_data1,stock_data2,on='date',how='outer')

        date  open_x   close  open_y    high
0  109/10/05  103.45  103.05     NaN     NaN
1  109/10/06  104.00  104.25     NaN     NaN
2  109/10/07  104.00  104.80     NaN     NaN
3  109/10/08  105.45  106.20  105.45  106.35
4  109/10/12  106.70  107.05  106.70  107.70
5  109/10/13  107.35  107.10  107.35  107.60
6  109/10/14     NaN     NaN  107.05  107.20
7  109/10/15     NaN     NaN  106.50  106.50

In [18]:
pd.merge(stock_data1,stock_data2,on='date',how='left')

        date  open_x   close  open_y    high
0  109/10/05  103.45  103.05     NaN     NaN
1  109/10/06  104.00  104.25     NaN     NaN
2  109/10/07  104.00  104.80     NaN     NaN
3  109/10/08  105.45  106.20  105.45  106.35
4  109/10/12  106.70  107.05  106.70  107.70
5  109/10/13  107.35  107.10  107.35  107.60

In [19]:
pd.merge(stock_data1,stock_data2,on='date',how='right')

        date  open_x   close  open_y    high
0  109/10/08  105.45  106.20  105.45  106.35
1  109/10/12  106.70  107.05  106.70  107.70
2  109/10/13  107.35  107.10  107.35  107.60
3  109/10/14     NaN     NaN  107.05  107.20
4  109/10/15     NaN     NaN  106.50  106.50

In [20]:
#-------------作業區--------------------

In [28]:
data1=pd.read_csv('STOCK_DAY_0050_202009.csv')
data2=pd.read_csv('STOCK_DAY_0050_202010.csv')
print(data1)
print(data2)

         date    open    high     low   close
0   109/09/01  102.45  103.35  101.85  103.35
1   109/09/02  103.65  104.05  102.30  103.00
2   109/09/03  103.70  104.30  103.20  103.30
3   109/09/04  102.00  102.70  101.90  102.55
4   109/09/07  102.55  103.05  101.90  102.40
5   109/09/08  102.75  103.10  102.45  103.00
6   109/09/09  101.75  102.35  101.15  102.30
7   109/09/10  102.80  103.35  102.60  103.20
8   109/09/11  103.20  103.35  102.80  103.25
9   109/09/14  103.50  104.55  103.25  104.55
10  109/09/15  104.45  105.20  104.25  104.95
11  109/09/16  106.55  107.00  106.35  106.55
12  109/09/17  106.05  106.35  105.10  105.40
13  109/09/18  105.40  105.70  104.85  105.30
14  109/09/21  105.20  105.90  104.35  104.45
15  109/09/22  104.30  104.30  102.95  103.10
16  109/09/23  103.50  103.50  102.40  102.95
17  109/09/24  101.55  101.80  100.25  100.45
18  109/09/25  100.75  101.45  100.05  100.65
19  109/09/28  101.35  102.30  101.00  102.30
20  109/09/29  102.75  103.50  102.15  102.55
21  109/09/30  102.75  103.45  102.60  103.00
         date    open    high     low   close
0   109/10/05  103.45  104.05  103.00  103.05
1   109/10/06  104.00  104.35  103.85  104.25
2   109/10/07  104.00  105.00  103.50  104.80
3   109/10/08  105.45  106.35  105.30  106.20
4   109/10/12  106.70  107.70  106.70  107.05
5   109/10/13  107.35  107.60  106.20  107.10
6   109/10/14  107.05  107.20  106.45  106.70
7   109/10/15  106.50  106.50  105.10  105.70
8   109/10/16  105.70  106.30  105.10  105.25
9   109/10/19  105.65  106.60  105.60  106.60
10  109/10/20  106.40  106.45  106.00  106.00
11  109/10/21  106.00  106.55  105.65  105.95
12  109/10/22  105.70  106.10  105.50  106.10
13  109/10/23  106.50  106.65  105.65  106.10
14  109/10/26  106.10  106.60  105.80  106.10
15  109/10/27  105.75  105.75  105.15  105.50
16  109/10/28  105.50  105.50  104.80  105.00
17  109/10/29  104.00  104.10  103.25  103.85
18  109/10/30  103.55  103.60  102.70  103.00

In [30]:
data_outer=pd.merge(data1,data2,how='outer')

In [31]:
data_outer.loc[(data_outer.open<data_outer.close)]

         date    open    high     low   close
0   109/09/01  102.45  103.35  101.85  103.35
3   109/09/04  102.00  102.70  101.90  102.55
5   109/09/08  102.75  103.10  102.45  103.00
6   109/09/09  101.75  102.35  101.15  102.30
7   109/09/10  102.80  103.35  102.60  103.20
8   109/09/11  103.20  103.35  102.80  103.25
9   109/09/14  103.50  104.55  103.25  104.55
10  109/09/15  104.45  105.20  104.25  104.95
19  109/09/28  101.35  102.30  101.00  102.30
21  109/09/30  102.75  103.45  102.60  103.00
23  109/10/06  104.00  104.35  103.85  104.25
24  109/10/07  104.00  105.00  103.50  104.80
25  109/10/08  105.45  106.35  105.30  106.20
26  109/10/12  106.70  107.70  106.70  107.05
31  109/10/19  105.65  106.60  105.60  106.60
34  109/10/22  105.70  106.10  105.50  106.10